.table-icon {
    max-width: 40px;
    margin-right: 10px;
}



.td-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding: 20px;
    color: white;
}

.tname {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;

}


.percentage, .td-hash, .td-price, .td-btc, .td-cap, .td-volume {
    display: flex;
    justify-content: center;
    align-items: center;
}

.td-btc,.td-cap, .td-volume, .symbol, .td-hash {
    color:#8c8c8c !important;
}

.little-line {
    height: 50px;
    width: 200px;
}

.percentage {
    padding: 10px;
}

.background-up {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 30px;
    width: fit-content;
    background-color: rgba(8, 209, 88, 0.1);
    padding: 10px;
    
    text-align: center;
  }

.background-down {
  display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    height: 30px;
    width: fit-content;
    background-color: rgba(255, 68, 68, 0.1);
    
    text-align: center;
}

.td-price {
    color: white;
}




